<div class="container mt-5">
  <h2 class="mb-2 text-center text-md-start">Alta de Alumno</h2>
  <p class="mb-4 text-center text-md-start text-muted">Formulario para dar de alta un nuevo alumno.</p>

  <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()" class="row g-4">

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre completo" formControlName="nombre" />
        <mat-error *ngIf="alumnoForm.get('nombre')?.invalid && alumnoForm.get('nombre')?.touched">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" />
        <mat-error *ngIf="alumnoForm.get('email')?.invalid && alumnoForm.get('email')?.touched">
          Email inválido o vacío
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Curso</mat-label>
        <mat-select formControlName="cursoId">
          <mat-option [value]="null">Sin curso</mat-option>
         <mat-option *ngFor="let curso of cursos" [value]="curso.cursoId || curso.id">
            {{ curso.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 text-center text-md-end">
      <button mat-raised-button color="primary" type="submit" [disabled]="alumnoForm.invalid">
        Guardar Alumno
      </button>
    </div>

  </form>
</div>