<!-- app/layout/navbar/navbar.html -->
<mat-toolbar color="primary">
  <div class="navbar-left">
    <button mat-button routerLink="/">Inicio</button>
  </div>

  <div class="navbar-title">
    <app-toolbar></app-toolbar>
  </div>

  <div class="navbar-right">
    <button mat-button [matMenuTriggerFor]="alumnosMenu">Alumnos</button>
    <mat-menu #alumnosMenu="matMenu">
      <button mat-menu-item routerLink="/alumnos">Listado de alumnos</button>
      <button mat-menu-item routerLink="/cursos">Mis cursos</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="adminMenu">Administrador</button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/alumnos-admin">Alumnos</button>
      <button mat-menu-item routerLink="/cursos-admin">Cursos</button>
      <button mat-menu-item routerLink="/inscripciones-admin">Inscripciones</button>
    </mat-menu>
  </div>
</mat-toolbar>